*{
	font-family: Arial, sans-serif;
	color: #000000;
	text-align: center;
	background-color: #b342f6;
	margin-left: 50px;
	margin-right: 50px;
 }
 h1{
	 color: #FFFFFF;
	 background-color: #1c0668;
 }
 
 a{
	 text-decoration: underline;
 }
 
 a:link{
	 color: #0493fa;
 }
 
 a:visited{
	 color: #365267;
 }